/* Write your CSS code here */
.blog-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
  font-family: roboto;
}

.author-pic {
  width: 80px;
  border-radius: 70px;
  margin-right: 10px;
}

.author-details {
  display: flex;
}

.blog-details-title {
  font-size: 50px;
}

.blog-image {
  width: 100%;
  margin-top: 50px;
  border-radius: 40px;
}

.details-author-name {
  font-size: 20px;
  font-weight: 500;
}

.blog-content {
  font-size: 28px;
  text-align: start;
  margin-top: 50px;
}
